In [5]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [6]:
df=pd.read_csv("drug200.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [7]:
df["Na_to_Ke"]=pd.to_numeric(df["Na_to_K"],errors='coerce')
df_cleaned=df.dropna(subset="Na_to_K")
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
 6   Na_to_Ke     200 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.1+ KB

In [9]:
df["Age"]=pd.to_numeric(df["Age"],errors='coerce')
df_cleaned=df.dropna(subset="Age")
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
 6   Na_to_Ke     200 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.1+ KB

In [10]:
df_cleaned.shape

(200, 7)

In [11]:
df_cleaned.head(9)

   Age Sex      BP Cholesterol  Na_to_K   Drug  Na_to_Ke
0   23   F    HIGH        HIGH   25.355  DrugY    25.355
1   47   M     LOW        HIGH   13.093  drugC    13.093
2   47   M     LOW        HIGH   10.114  drugC    10.114
3   28   F  NORMAL        HIGH    7.798  drugX     7.798
4   61   F     LOW        HIGH   18.043  DrugY    18.043
5   22   F  NORMAL        HIGH    8.607  drugX     8.607
6   49   F  NORMAL        HIGH   16.275  DrugY    16.275
7   41   M     LOW        HIGH   11.037  drugC    11.037
8   60   M  NORMAL        HIGH   15.171  DrugY    15.171

In [12]:
df_cleaned.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
Na_to_Ke       0
dtype: int64

In [14]:
x=df_cleaned.drop(columns=["Na_to_K","Age"])
y=df_cleaned['Age']
x=x.to_numpy()
y=y.to_numpy()

In [15]:
x_train,x_test,y_trai,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [18]:
model=LogisticRegression()